@use "../../styles/variables" as variables;



.header {
    position: fixed;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid variables.$color-border;

    &__logo {
        color: variables.$color-primary;  
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 20px;
        }

        a {
            font-weight: bold;
            &:hover{
                color: variables.$color-primary;  
            }
        }
    }
}

.cta {
    background-color: variables.$color-primary;
    border-radius: variables.$border-radius;
    padding: 10px 20px;
    color: variables.$color-surface;

    &:hover{
        background-color: variables.$color-surface-light; 
        border-bottom: 1px solid variables.$color-border;
    }
}